.form-full-bg {
    min-height: 100vh;
    background: #fff;
    width: 100vw;
    box-sizing: border-box;
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 55px 0px 38px;
    background: #fff;
}

.smart-credit-title {
    font-size: 23px;
    font-weight: 700;
    color: #101826;
}

.for-retailers {
    font-size: 14px;
    font-weight: 400;
    color: #60698a;
    margin-left: 7px;
}

.dashboard-nav {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}
.dashboard-nav > a {
    font-size: 15.2px;
    padding: 7px 20px;
    border-radius: 7.5px;
    background: none;
    cursor: pointer;
    color: #191b2a;
    font-weight: 500;
    opacity: 0.87;
    text-decoration: none;
    transition: background 0.13s;
}
.nav-active {
    background: #101826;
    color: #eee !important;
}

.credit-form-center-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 90px);
}

.credit-form-card {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(60,120,166,0.09), 0 1.5px 4px #e3e5ed;
    padding: 38px 34px 38px;
    width: 410px;
    max-width: 97vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.credit-form-title {
    font-size: 23px;
    font-weight: 700;
    color: #233377;
    margin-bottom: 9px;
    text-align: center;
}
.credit-form-subtitle {
    color: #60698a;
    font-size: 16px;
    text-align: center;
    margin-bottom: 18px;
}
.credit-label-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
}
.credit-label-input label {
    font-size: 14px;
    color: #3f3f3f;
    margin-bottom: 5px;
    font-weight: 500;
}
.credit-input {
    padding: 9px 13px;
    border: 1.3px solid #d9e3ea;
    border-radius: 7px;
    font-size: 15px;
    background: #f8fafc;
    color: #191b2a;
    font-family: inherit;
    transition: border 0.14s;
}
.credit-input:focus {
    border: 1.3px solid #3483fa;
    outline: none;
}
.credit-input::placeholder {
    color: #888;
    opacity: 1;
}
.credit-btn {
    background: #2253d5;
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 11px 0;
    font-weight: 600;
    width: 100%;
    margin-top: 13px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.18s;
}
.credit-btn:hover {
    background: #1e409c;
}
.credit-result-card {
    background: #f7f9fa;
    border-radius: 13px;
    margin-top: 26px;
    padding: 24px 16px;
    font-size: 16px;
    color: #233377;
    text-align: left;
    box-shadow: 0 2px 8px rgba(99,120,166,0.06);
}
.credit-result-title {
    font-size: 18px;
    font-weight: 700;
    color: #153058;
    margin-bottom: 11px;
    text-align: center;
}
.credit-res-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    font-size: 16.5px;
    font-weight: 500;
}
